
<%= form_with model: @user do |form| %>
    <div class="container">
  <div>
    <%= form.label :Email %><br>
    <%= form.text_field :user_email%><br>
  </div>
<div>
<%= form.label :password %><br>
<%= form.text_field :password %><br>
</div>
  <div class= "button">
  <%=form.submit  %>
 </div>
    </div>   
    
<% end %>